<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<persistence xmlns="https://jakarta.ee/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="https://jakarta.ee/xml/ns/persistence https://jakarta.ee/xml/ns/persistence/persistence_3_2.xsd"
             version="3.1">
<persistence-unit name="jeejakartaUtil" transaction-type="RESOURCE_LOCAL">
    <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
    <class>fr.cytech.projetjeejakarta.model.Employe</class>
    <class>fr.cytech.projetjeejakarta.model.Departement</class>
    <class>fr.cytech.projetjeejakarta.model.Role</class>


    <properties>
        <property name="jakarta.persistence.jdbc.driver" value="com.mysql.cj.jdbc.Driver" />
        <property name="jakarta.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/entreprise?serverTimezone=UTC" />
        <property name="jakarta.persistence.jdbc.user" value="root" />
        <property name="jakarta.persistence.jdbc.password" value="cytech0001"/>

        <!-- Hibernate dialect & SQL display -->
        <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"/>
        <property name="hibernate.show_sql" value="true"/>
        <property name="hibernate.format_sql" value="true"/>
        <property name="hibernate.hbm2ddl.auto" value="update"/>

        <!-- Disable internal connection pool -->
        <property name="hibernate.connection.provider_disables_autocommit" value="true"/>


        <!-- Use simple DriverManager connection provider (no DataSource) -->
        <property name="hibernate.connection.provider_class"
                  value="org.hibernate.engine.jdbc.connections.internal.DriverManagerConnectionProviderImpl"/>

        <!-- Disable second-level cache -->
        <property name="hibernate.cache.use_second_level_cache" value="false"/>
        <property name="hibernate.cache.use_query_cache" value="false"/>




    </properties>



</persistence-unit>
</persistence>
